@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");
nav {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  color: #ffffff;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  background: rgba(72, 64, 64, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(72, 64, 64, 0.17);
}
.logo{
  width: 8rem;
}

ul {
  display: flex;
}
li {
  list-style: none;
  margin: 0px 10px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
button {
  padding: 1.3em 3em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #2394c4;
  box-shadow: 0px 15px 20px rgba(46, 189, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}
